html, body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px; /* small padding for mobile */
}

/* HEADER */
.top-header-full {
    background-color: #1F1937;
    padding: 10px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    color: #F9FAF8;
    font-size: 24px;
    margin: 0;
}

ul {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

ul a {
    color: inherit;
    text-decoration: none;
}

/* INTRO */
.intro-section {
    background-color: #1F1937;
    color: #e5e7eb;
    padding: 40px 0;
}

.intro-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.intro-section p {
    font-size: 18px;
}

.intro-right {
    width: 500px;
    max-width: 100%;
}

button {
    border: 1px solid royalblue;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #3882F6;
}

/* PILLARS */
.h2-main-text {
    font-size: 36px;
    color: #1F1937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.pillars-section img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 4px solid #3280ff;
}

.icons-text {
    display: flex;
    gap: 70px;
    justify-content: center;
}

.item1, .item2, .item3, .item4, .item5 {
    width: 200px;
}

.small-title, .description   {
    text-align: center;
}

.small-title {
    font-weight: 700;
}

/* QUOTE */
.quote-section {
    background-color: #f4f4f4;
    padding: 40px 0;
}

.secondary-text {
    
}

.main-text {
    font-size: 36px;
    font-style: italic;
    margin: 0;
    color: #1F1937;
    font-weight: 500;
}

.secondary-text {
    font-size: 25px;
    color: #1F1937;
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
}

/* GUIDE */
.guide-section {
    background-color: white;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.guide-section .container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    padding: 40px 120px;
    border-radius: 10px;
    gap: 100px;
    box-sizing: border-box;
    align-items: center;
}

.left-side p {
    text-align: left;
}

.guide-text-1 {
    font-weight: 900;
    font-size: 20px;
}

.second-button {
    background-color: #3882F6;
    border: solid 2px white;
}

/* FOOTER */
.footer {
    background-color: #1F1937;
    color: #e5e7eb;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
